<h1>Recipe view</h1>
<h4>Click Edit button to add ingredients</h4>


<table class="table table-bordered">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Description</th>
      <th>Ingredients</th>
      <th>Extra</th>
    </tr>
  </thead>
  <tbody>
    <% @recipes.each do |recipe| %>
    <tr>
      <td> <%= recipe.id %></td>
      <td> <%= recipe.name %> </td>
      <td> <%= recipe.description %> </td>
      <td>
            <% @ingredient.each do |ingredient| %>
              <% if recipe.id == ingredient.recipe_id %>
                <%= link_to ingredient.name, edit_ingredient_path(ingredient) %>
            <% end %>
            <% end %>
      </td>
      <td>
        <%=link_to "Edit", edit_recipe_path(recipe) %>
        <%=link_to "Delete", recipe_path(recipe), method: :delete, data: {confirm:"Are you sure?"} %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Add Recipe", new_recipe_path, class: "btn btn-small btn-primary" %>
